 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links:hover{
    color: #fad96e;
}

.nav-links li {
    margin-right: 20px;
    position: relative; 
}

.nav-links a {
    text-decoration: none;
    color: #333;
    position: relative; 
}

.nav-links a::before,
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #333;
    bottom: 0;
    transition: width 0.3s ease; /* Добавляем анимацию для плавного расширения */
}

.nav-links a::before {
    background-color: #fad96e;
    left: 50%; /* Начальное положение псевдоэлемента слева */
    transform: translateX(-50%); /* Центрируем псевдоэлемент относительно текста */
}

.nav-links a::after {
    background-color: #fad96e;
    right: 50%; /* Начальное положение псевдоэлемента справа */
    transform: translateX(50%); /* Центрируем псевдоэлемент относительно текста */
}

.nav-links a:hover::before,
.nav-links a:hover::after {
    width: 100%; /* Расширяем псевдоэлементы при наведении на ссылку */
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}



h1{
    text-align: center;
    font-size: 60px;
    margin: 60px;

    
}
.img1,
.img2,
.img3{
    width: 330px;
    height: 240px;
    margin-left: 68px;
    margin-top: 30px;
    opacity: 0.2;
}

.img1:hover,
.img2:hover,
.img3:hover{
    width: 350px;
    height: 260px;
    margin-left: 68px;
    margin-top: 30px;
    opacity: 1;
    transition: transform 0.8s ease;
    transform: scale(1.2);
    position: relative;
    overflow: hidden;
}
.imgg1{
    width: 450px;
    height: 310px;
    margin-left: 80px;
    margin-right: 180px;
}

.imgg2{
    width: 450px;
    height: 310px;
    


}

.imgg3{
    width: 450px;
    height: 310px;
    margin-left: 80px;
    margin-right: 180px;
    


}
.imgg4{

    width: 450px;
    height: 310px;
    

}
.imgg1:hover{
    position: relative;
    width: 470px;
    height: 330px;
    transition: 0.5s ease;
}
.imgg2:hover{
    opacity: 1;
    width: 460px;
    height: 320px;
    transition: 0.5s ease;
}
.imgg3:hover{
    opacity: 1;
    width: 460px;
    height: 320px;
    transition: 0.5s ease;
}
.imgg4:hover{
    opacity: 1;
    width: 460px;
    height: 320px;
    transition: 0.5s ease;
}

.imgp1{
    margin-left: 250px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.imgp2{
    margin-top: -40px;
    padding-bottom: 20px;
    margin-left: 880px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.imgp3{
    margin-left: 250px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.imgp4{
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: 785px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.fff{
    text-align: center;

    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0 20px;
    margin: 0px 0px -30px 0px;
    
}
